$blue: #1992e4;
$darkgray: #1b1b1b;
$gray: #5c5c5c;
$lightgray: #9c9c9c;
$lightblue: lightskyblue;
$pink: #deaae2;

$bg-color: rgb(37, 51, 65);

@mixin animationBasic($layer: background-color) {
    transition: $layer .2s ease-in-out;
}

@mixin card($radius: 5px) {
    background-color: black;
    border-radius: $radius;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em;
}

@mixin round-text {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    background-color: $bg-color;
    color: #ffffff;
    margin-bottom: 60px;
}

html {
    background-color: $bg-color;
    min-height: 100%;
    position: relative;
}

hr {
    background-color: $gray;
}

.a-disappear {
    opacity: 0;
    transition: opacity 20s;
}

.app {
    background-color: $darkgray;
    padding: 10px;
    border-radius: 15px;
}

.avatar {
    width: 75px;
    height: 75px;
    margin-right: 5px;
    border-radius: 10%;
}

.beatmap-card {
    @include card;
    margin: 10px;
    width: 460px;
    height: 150px;

    &__badge {
        @include card;
        @include round-text;
        color: $lightgray;
        margin: 10px;
        max-width: 424px;
        text-decoration: none !important;

        &:hover {
            color: white;
        }
    }

    &__info {
        @include card(50px);
        margin-left: 10px;
        font-size: 0.8rem;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        box-shadow: 0px 0px 15px rgb(37, 37, 37);

        &--modders {
            background-color: $lightblue;
            color: $darkgray;
        }

        &--nominators {
            background-color: $pink;
            color: $darkgray;
        }

        &--modes {
            color: $lightgray;
        }
    }
}

.button {
    background-color: white;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 0.3em;

    &--circle {
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        text-shadow: 0px 0px 5px gray;
        margin-left: 10px;
        box-shadow: 0px 0px 20px rgb(37, 37, 37);
    }
}

.bg {
    &--blue {
        background-color: $blue;
        @include animationBasic;

        &:hover {
            background-color: #157cc0;
        }
    }

    &--green {
        background-color: greenyellow;
    }

    &--login {
        background-color: #ff70b8;
        @include animationBasic;

        &:hover {
            background-color: #ff4aa5;
        }
    }

    &--orange {
        background-color: chocolate;
    }

    &--pink {
        background-color: $pink;
    }

    &--purple {
        background-color: blueviolet;
    }

    &--red {
        background-color: red;

        a {
            background-color: #c70000;
        }
    }
}

.color {
    &--gray {
        color: $gray;
    }

    &--green {
        color: greenyellow;
    }

    &--lightblue {
        color: $lightblue;
    }

    &--lightgray {
        color: $lightgray;
    }

    &--orange {
        color: chocolate;
    }

    &--pink {
        color: $pink;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.form-wrapper {
    @include card(50px);
    border: 2px $blue solid;
    text-align: center;
    margin-top: 10px;
}

.input-invisible, .el-invisible {
    background: transparent;
    border: none;
    color: $lightgray;
    outline: none !important;
}

.input-invisible {
    margin-left: 5px;
    margin-right: 5px;
    width: 320px;
    font-size: 0.8rem;
}

.modal {
    &__backdrop{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: rgba(0,0,0,.6);
    }

    &__card {
        position: fixed;
        width: 90%;
        max-height: 25rem;
        background-color: $darkgray;
        box-shadow: 0 2px 8px black;
        top: 9vh;
        left: 5%;
        border-radius: 10px;
        color: $lightgray;

        @media(min-width: 768px) {
            width: 40rem;
            left: calc((100% - 40rem) / 2);
        }

        &__content {
            margin: 0.5em;
            text-align: left;
        }

        &__header {
            height: 6rem;
        padding: 0.5em;
        color: white;
        display: flex;
        justify-content: space-between;
        }
    }
}

.nav {
    &__bg {
        @include card(50px);
        text-align: center;
    }

    &__el {
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-decoration: none !important;

        &--current {
            background-color: white;
            border-radius: 50px;
            color: black !important;
            display: inline-block;
            text-align: center;
            margin: 0;
            border: none;
            padding: 0 .5em 0 .5em;
        }
    }
}

.table-dark {
    background-color: $darkgray;
    margin: auto;
    width: 80vh;
}

.text-field {
    @include card;
    background-color: rgba(0,0,0,.5);
    border: 1px $lightblue solid;
    color: $lightgray;
    width: 80%;
    margin: auto;
}

.user-card {
    @include card;
    @include round-text;
    color: $lightgray;
    margin: 10px;
    width: 300px;
    height: 90px;
    text-decoration: none !important;

    &:hover {
        color: white;
    }
}

.v-middle {
    vertical-align: middle;
}

.warning-badge {
    @include card;
    color: $lightgray;
    margin-top: 10px;
}
