$blue: #1992e4;
$green: #77dd77;
$orange: #ffb347;
$red: #ff6961;

$blue-hover: #157cc0;
$green-hover: #559c55;
$orange-hover: #ca8e3b;
$red-hover: #b44c46;

$dark-blue: #001b26;
$dark-green: #002606;
$dark-orange: #260f00;
$dark-red: #260000;

$darkgray:#262626;
$darkgray-2: #1f1e1e;
$darkgray-3:#171717;
$darkgray-4: #0f0f0f;
$gray: #5c5c5c;
$lightgray: #9c9c9c;
$lightblue: lightskyblue;
$pink: #deaae2;

$bg-color: #00070a;
$hover: #0a0a0a;

@mixin generic-box-shadow() {
    box-shadow: 0px 0px 15px rgb(37, 37, 37);
}

@mixin animation-basic($layer: background-color) {
    transition: $layer .2s ease-in-out;
}

@mixin card($radius: 5px) {
    background-color: black;
    border-radius: $radius;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em;
}

@mixin link-clear {
    text-decoration: none;

    &:active, &:focus, &:hover {
        text-decoration: none;
    }
}

@mixin round-text {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    font-family: 'Exo 2', sans-serif;
    background-color: $bg-color;
    color: #ffffff;
    margin-bottom: 60px;
}

form {
    display: inline-block;
}

html {
    background-color: $bg-color;
    min-height: 100%;
    position: relative;
}

h3 {
    margin-top: -7px;
}

hr {
    background-color: $gray;
}

input[type = checkbox] {
    display: none;

    + label {
        user-select: none;
    }

    + label::before {
        font-family: FontAwesome;
        display: inline-block;
        content: '\f096';
        letter-spacing: 5px;
        vertical-align: middle;
    }

    &:checked {
        + label::before {
            content: '\f14a';
            letter-spacing: 4px;
            vertical-align: middle;
        }
    }
}

.app {
    background-color: $darkgray;
    // padding: 0 50px 50px 50px;
}

.beatmap-card {
    @include card();
    width: 100%;
    height: 150px;

    &__badge {
        @include card;
        @include round-text;
        color: $lightgray;
        margin: 10px;
        max-width: 424px;
        text-decoration: none !important;

        &:hover {
            color: white;
        }
    }

    &__info {
        @include card(50px);
        margin-left: 10px;
        font-size: 0.8rem;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;

        @include generic-box-shadow();

        &--modders {
            background-color: $lightblue;
            color: $darkgray;
        }

        &--nominators {
            background-color: $pink;
            color: $darkgray;
        }

        &--modes {
            color: $lightgray;
        }
    }
}

.beatmap-card-grid {
    margin: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 460px);
    justify-content: center;
}

.button {
    background-color: white;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 5px 10px;
    color: white;
    text-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);

    &--circle {
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        text-shadow: 0px 0px 5px gray;
        margin-left: 10px;

        @include generic-box-shadow();

        &--small {
            width: 30px;
            height: 30px;
            font-size: 0.8rem;
        }
    }
}

.bg {
    &--blue {
        background-color: $blue;
        @include animation-basic;

        &:hover {
            background-color: $blue-hover;
        }
    }

    &--green {
        background-color: $green;
        @include animation-basic;

        &:hover {
            background-color: $green-hover;
        }
    }

    &--lightgray {
        background-color: $lightgray;
    }

    &--login {
        background-color: #ff4aa5;
        @include animation-basic;

        &:hover {
            background-color: #ff2e97;
        }
    }

    &--orange {
        background-color: chocolate;
    }

    &--pink {
        background-color: $pink;
    }

    &--purple {
        background-color: blueviolet;
    }

    &--red {
        background-color: red;

        a {
            background-color: #c70000;
        }
    }
}

.close-button {
    font-family: FontAwesome;
    font-size: 1.7em;
    line-height: 100%;
    text-shadow: 0 0 10px rgba(0,0,0,.6);
    cursor: pointer;

    &::before {
        content: '\f00d';
    }
}

.color {
    &--gray {
        color: $gray;
    }

    &--green {
        color: greenyellow;
    }

    &--lightblue {
        color: $lightblue;
    }

    &--lightgray {
        color: $lightgray;
    }

    &--orange {
        color: chocolate;
    }

    &--pink {
        color: $pink;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.form-wrapper {
    @include card(50px);
    border: 2px $green solid;
    text-align: center;
    margin-top: 10px;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding: 0 50px;

    &--admin {
        background-color: $dark-orange;

        .header__divider::after {
            background-color: $orange;
        }

        .header__icon {
            color: $orange;
        }
    }

    &--beatmaps {
        background-color: $dark-green;

        .header__divider::after {
            background-color: $green;
        }

        .header__icon {
            color: $green;
        }
    }

    &--home {
        background-color: $dark-blue;

        .header__divider::after {
            background-color: $blue;
        }

        .header__icon {
            color: $blue;
        }
    }

    &--users {
        background-color: $dark-red;

        .header__divider::after {
            background-color: $red;
        }

        .header__icon {
            color: $red;
        }
    }

    &__section {
        margin-left: 27px;
    }

    &__divider {
        display: flex;
        align-items: center;

        &::after {
            position: absolute;
            content: '';
            width: 7px;
            height: 7px;
            margin-left: 10px;
            border-radius: 50px;
        }
    }

    &__icon {
        font-size: .9em;
    }

    &__title {
        margin-left: 5px;
    }
}

.input-invisible, .el-invisible {
    background: transparent;
    border: none;
    color: $lightgray;
    outline: none !important;
}

.input-invisible {
    margin-left: 5px;
    margin-right: 5px;
    width: 320px;
    font-size: 0.8rem;
}

.modal {
    &__backdrop{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: rgba(0,0,0,.6);
    }

    &__card {
        position: fixed;
        width: 90%;
        max-height: 25rem;
        background-color: $darkgray;
        box-shadow: 0 2px 8px black;
        top: 9vh;
        left: 5%;
        border-radius: 10px;
        color: $lightgray;

        @media(min-width: 768px) {
            width: 40rem;
            left: calc((100% - 40rem) / 2);
        }

        &__content {
            margin: 0.5em;
            text-align: left;
        }

        &__header {
            padding: 0.5em;
            color: white;
            display: flex;
            justify-content: space-between;
        }
    }
}

.nav {
    &__bg {
        @include card(50px);
        text-align: center;
    }

    &__el {
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-decoration: none !important;

        &--current {
            background-color: white;
            border-radius: 50px;
            color: black !important;
            display: inline-block;
            text-align: center;
            margin: 0;
            border: none;
            padding: 0 .5em;
        }
    }
}

.navigation-bar {
    background-color: $darkgray;
    display: inline-flex;
    justify-content: space-between;
    padding: 20px 50px;
    overflow: hidden;
    width: 100%;

    &__el {
        padding: 10px;
        text-decoration: none;

        &--beatmaps {
            color: $green;

            a {
                text-decoration: none;
                color: $green;
            }
        }

        &--home {
            color: $blue;

            a {
                text-decoration: none;
                color: $blue;
            }
        }

        &--users {
            color: $red;

            a {
                text-decoration: none;
                color: $red;
            }
        }
    }

    &__main {
        display: inline-flex;
    }

    &__routes {
        margin-left: 30px;
        display: inline-flex;
    }

    &__title {
        font-size: 1.2em;
        align-self: center;
    }
}

.navigation-profile {
    display: flex;
    align-self: center;
    align-items: center;
    background-color: $darkgray-3;
    padding: 0px 10px 0px 0;
    border-radius: 5px;
    margin: -10px 0;

    &__avatar {
        height: 60px;
        border-radius: 5px;
        margin-right: 10px;
    }

    &__username {
        font-size: .9em;
    }

    &__logout {
        font-size: .7em;
        color: $red;
        text-decoration: none;

        a {
            text-decoration: none;
            color: $red;
        }
    }
}

.table-dark {
    background-color: $darkgray;
    margin: auto;
    width: 80vh;
}

.url-clean {
    color: $blue;
    text-decoration: none;
    cursor: pointer;

    a {
        color: $blue;
        text-decoration: none;
    }

    &--red {
        color: $red;

        a {
            color: $red;
        }
    }
}

.user-card {
    @include round-text();
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-right: 10px;
    background-color: $darkgray;
    width: 100%;
    height: 75px;

    &__avatar {
        width: 75px;
        height: 75px;
        margin-right: 10px;
        border-radius: 10%;
    }

    &__info {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    &__link {
        @include link-clear();
        color: $lightgray;

        &:hover {
            color: white;
        }
    }
}

.user-card-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: center;
}

.user-listing {
    @media(min-width: 992px) {
        width: 860px;
        margin: auto;
    }

    &__avatar {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        margin-right:5px;
    }

    &__bg {
        display: block;
        justify-content: center;
    }

    &__card {
        @include card;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        &:hover {
            background-color: $hover;
        }
    }

    &__el {
        color: $lightgray;
        margin-right: 5px;

        &--content {
            font-size: 0.7rem;
        }

        &--link {
            margin-right: 15px;
            &:hover {
                text-decoration: none !important;
                color: white;
            }
        }
    }

    &--link {
        cursor: pointer;
    }
}

.usergroup-badge {
    background-color: $darkgray-3;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .1em 1em;
    font-size: 0.75rem;

    &--ambassador::before {
        color: greenyellow;
        content: 'ambassador';
    }

    &--modder::before {
        color: $lightgray;
        content: 'modder';
    }

    &--nominator::before {
        color: $pink;
        content: 'nominator';
    }
}

.paginator {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__background {
        list-style: none;
    }

    &__link {
        @include link-clear();
        display: block;
        border-radius: 100%;
        padding: 2px 10px;
        color: white;

        &:hover {
            color: $lightgray;
        }

        &--current {
            font-weight: 600;
            background-color: white;
            color: black;
            user-select: none;

            &:hover {
                color: black;
            }
        }

        &--icon {
            font-size: .7rem;
        }
    }

    &__page {
        display: inline-block;
        margin-right: 1px;
    }
}

.section {
    padding: 30px 10px;

    &--1 {
        background-color: $darkgray;
    }

    &--2 {
        background-color:  $darkgray-2;
    }

    &--3 {
        background-color: $darkgray-3;
        color: $lightgray;
    }

    &--4 {
        background-color: $darkgray-4;
        color: $lightgray;
    }

    &--small {
        font-size: .8em;
        padding: 10px 10px;
    }
}

.show-more {
    @include link-clear();
    background-color: black;
    font-size: .7rem;
    padding: .5em 1em;
    color: $lightgray;
    border-radius: 50px;
    margin-bottom: 5px;

    &:hover {
        background-color: $hover;
    }

    &--icon {
        color: $lightblue;
        margin: 0 5px;
    }

    &__label::before {
        content: 'SHOW MORE';
        color: $lightgray
    }
}

.status-container {
    display: flex;
    justify-content: center;
}

.toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;

    &--small {
        font-size: .8em;
    }

    &__el {
        color: $lightgray;
        padding: 5px;
        cursor: pointer;

        &:hover {
            color: white;
        }

        &--current {
            color: white;
        }
    }
}

.v-middle {
    vertical-align: middle;
}

.warning-badge {
    display: flex;
    align-items: center;
    background-color: black;
    color: $gray;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;

    &--error {
        color: $red;
    }

    &--success {
        color: $green;
    }
}
